<div class="login-overlay">
    <div class="logo">
        Material <br> <span class="smaller">Dashboard</span>
    </div>
    <div class="form-container shadow">
        <div class="icon">
            <i class="mdi mdi-account-circle"></i>
            <div class="header">
                Login
            </div>
        </div>
        <div class="inputs">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <input class="mdl-textfield__input" type="email" id="sample3" />
                    <label class="mdl-textfield__label" for="sample3">username or email</label>
                </div>
            </form>
            <form>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <input class="mdl-textfield__input" type="password" id="sample3" />
                    <label class="mdl-textfield__label" for="sample3">password</label>
                </div>
            </form>
            <div class="buttons">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
				<input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" />
				<span class="mdl-checkbox__label">Remember me</span>
				</label>
                <span class="signup">
				<a href="signup.html">Sign up here</a>
				</span>
                <div class="link">
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="index.html">
					Login
					</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="mdl-mini-footer login-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">&copy;Material Dashboard Theme</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <div class="mdl-logo">Terms and Conditions Apply</div>
    </div>
</footer>